# Python temp files
__pycache__/
*.py[cod]
*$py.class

# R temp files
**/*.Rhistory
**/*.Rdata

# User parameter file
user_parameters.yaml

# Local
data/temp/
_cache/

# Leftover folders from the subtree split
Data/AdditionalData/
Dist/
R/
Thesis main/
Communication/
Studies list/

# R output files and cache
_cache/*

# Shell temp files
**/*.sh~
**/*.sh.un~
**.swp

# Excel temp files
**/~$*.xlsx
**/~$*.xlsm

# Shortcuts
*.lnk
