# Python temp files
__pycache__/
*.py[cod]
*$py.class

# R temp files
**/*.Rhistory
**/*.Rdata
**/*.DS_Store

# R output files and cache
src/_cache/*
src/results/*
src/data/temp/*
src/data/source/*
!src/data/source/data_set_master_thesis_cala.xlsx
src/graphics/*
src/*_debug.R
src/temp_*.R
src/user_parameters.yaml

# Shell temp files
**/*.sh~
**/*.sh.un~
**.swp

# Excel temp files
**/~$*.xlsx
**/~$*.xlsm

# Shortcuts
*.lnk
